.login-wrapper {
  background: rgba(35, 39, 65);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .form-wrapper {
    > .login-title {
      color: #fff;
      text-align: center;
      font-size: 30px;
      font-weight: bold;
    }
    width: 500px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px 50px;
    border-radius: 10px;
  }
}
